@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "@fortawesome/fontawesome-free/css/regular.min.css";
@import "@fortawesome/fontawesome-free/css/brands.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    *{
        margin: 0;
        padding: 0; 
    }

    html {
      scroll-behavior: smooth;
    }

    html,body{
      overflow-x: hidden;
    }

    /* BODY */

    body{
        font-family: 'Poppins', sans-serif;
        @apply text-gray-900;
        @apply bg-white;
    }




    .container{
      @apply !w-full;
      @apply lg:!w-2/3;
      @apply mx-auto;
      @apply px-10;
      @apply py-5;
    }

  




    /* Text Styles */

    .eczar{
        font-family: 'Eczar', serif;
    }



    h2{
        @apply text-4xl;
        @apply eczar;
        @apply mb-10;
    }

    h3{
        @apply text-base;
        @apply uppercase;
        @apply mt-5;
        @apply mb-2;
        @apply normal-case;
        @apply font-semibold;
        @apply text-xl;
    }

    .text-general{
        @apply text-gray-500;
        @apply font-thin;
    }

    .blog-date{
        @apply my-3.5;
        @apply text-sm;
        @apply text-gray-400;
    }





    .btn{
        @apply bg-white;
        @apply border;
        @apply border-neutral-300;
        @apply text-gray-500;
        @apply px-4;
        @apply py-2.5;
        @apply rounded;
        @apply drop-shadow;
        @apply font-medium;
        @apply transition-all;
        @apply ease-out;
        @apply duration-300;
    }

    .btn-positive{
        @apply !bg-black;
        @apply !border-black;
        @apply !text-white;
    }

    .btn-negative{
        @apply !bg-white;
        @apply !border-black;
        @apply !text-black;
    }
    





    nav ul {
        list-style: none;
        text-align: center;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li a {
        display: block;
        @apply px-4;
        @apply py-2;
        text-decoration: none;
        margin: 0 10px;
      }
      nav ul li a:after,
      nav ul li a:before {
        transition: all 0.5s;
      }
      nav ul li a:hover {
      }


    

    /* SHIFT */
    nav.shift ul li a {
      position:relative;
      z-index: 1;
    }
    nav.shift ul li a:hover {
      color: #000;
    }
    nav.shift ul li a:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      content: '.';
      color: transparent;
    @apply bg-yellow-300;
      visibility: none;
      opacity: 0;
      z-index: -1;
    }
    nav.shift ul li a:hover:after {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }



    /* Keyframes */
    @-webkit-keyframes fill {
      0% {
        width: 0%;
        height: 1px;
      }
      50% {
        width: 100%;
        height: 1px;
      }
      100% {
        width: 100%;
        height: 100%;
        background: #333;
      }
    }

    /* Keyframes */
    @-webkit-keyframes circle {
      0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
      }
      100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
      }
    }



    .box-card{
      @apply bg-white;
      @apply rounded-xl;
      @apply p-6;
      @apply transition-all;
      @apply ease-out;
      @apply duration-300;
      @apply drop-shadow;
      @apply hover:drop-shadow-2xl;
      @apply hover:-translate-y-3;
    }

}

